﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Tweet Statist</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        .admin
        {
           color: dodgerblue;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <img class="navbar-brand" src="~/Image/LogoSmall.png" width="70" alt="logo">
                @Html.ActionLink("Twit Statist", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Dokumentacja", "About", "Home")</li>
                    <li>@Html.ActionLink("Losowe wyniki", "RandomSearchers", "Searcher")</li>
                  
                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Searchers", "Index", "Searcher")</li>
                        //   if (@ViewBag.IsAdmin)
                        if (User.IsInRole("Admin"))
                        {
                            @*<li>@Html.ActionLink("Searcher Settings", "Index", "SearchSettings", null, new {  @class = "admin"}) </li>
                            <li> @Html.ActionLink("Query Settings", "Index", "QueryModes",null, new { @class = "admin" }) </li>*@
                            <li> @Html.ActionLink("Lista użytkowników", "UserList", "Account",null, new { @class = "admin" }) </li>
                        }
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year Twit Statist</p>
        </footer>
    </div>


</body>
</html>
