﻿@model TwitterStatist.Models.SearcherViewModel

@{
    ViewBag.Title = "Create";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?v=3.26&key=AIzaSyAxqru5oB7vrLV0u1W_C8SObO0TUHi1Duc&sensor=false"></script>*@


<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.26&key=AIzaSyAxqru5oB7vrLV0u1W_C8SObO0TUHi1Duc"></script>




<script src="~/Scripts/utility.js" type="text/javascript"></script>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


@*<script>
  $( function() {
      $("#Start").datepicker({ dateFormat: 'yy-mm-dd' });
  } );
</script>*@

<style>
    #map_canvas img {
        max-width: none;
    }
</style>

<style>
    .infoDiv {
        height: 200px;
        width: 300px;
        -webkit-user-select: none;
        background-color: white;
    }
</style>
<br />

<h2>Nowy Searcher</h2>
<p>
    W tym miejscu możesz zdefiniować jaka fraza ma być wyszukiwana na portalu Twitter. Okreś dodatkowe szczegóły, kliknij przycisj "START" a program rozpocznie pracę!
</p>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />

        <div class="form-group">
            <p class="control-label col-md-2"> Nazwa </p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <p class="control-label col-md-2"> Szukana fraza </p>

            <div class="col-md-10">
                @Html.EditorFor(model => model.Query, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Query, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <p class="control-label col-md-2"> Data Startu: </p>
                <div class="col-md-10 ">

                    @Html.EditorFor(model => model.Start, new { htmlAttributes = new { @class = "form-control", @id="Start", @Value =""} })
                    @*<input class="text-danger" type="text" id="Start">*@


                </div>
            </div>
 
            
     


        <input type="checkbox" checked id="LocationValue" value="On" class="btn btn-default" onclick="HideToggle()" /> <span>Określ obszar badań</span><br>
        <div id="Showmaps">
            <div id="map_canvas" style="height: 550px;"></div>
            <div id="divInfo" style="font-family: Arial; font-size: 12px; color: Red;">
            </div>


        </div>
        <div class="form-group">
            <input type="hidden" id="latitude"  name="Latitude" value=""> @*szerokość*@
        </div>

        <input type="hidden" id="longitude" name="Longitude" value="">@*długośc geograficzna*@
        <input type="hidden" id="distance" name="Distance" value="">

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Utwórz" class="btn btn-default" />
            </div>
        </div>
    </div>


    <div>
        @Html.ActionLink("Powrót do listy", "Index")
    </div>

    <script type="text/javascript">
        var map;
        function LoadMap() {
            var center_pt = new google.maps.LatLng(50.4529138, 19.961416375);
            var mapOptions = {
                zoom: 4,
                center: center_pt,
                mapTypeControl: false,
                streetViewControl: true,
                zoomControlOptions: {
                    style: google.maps.ZoomControlStyle.SMALL
                }
            };

            map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
            map.setMapTypeId(google.maps.MapTypeId.ROADMAP);
            var styles = [
                                                                   { elementType: "geometry",
                                                                       stylers: [
                                                                               { hue: "#00ffe6" },
                                                                               { saturation: -10 }

                                                                       ]
                                                                   }, {
                                                                       featureType: "road",
                                                                       elementType: "geometry",
                                                                       stylers: [
                                                                               { lightness: 100 },
                                                                               { visibility: "simplified" }
                                                                       ]
                                                                   }, {
                                                                       featureType: "road",
                                                                       elementType: "labels",
                                                                       stylers: [
                                                                               { visibility: "on" }
                                                                       ]
                                                                   }
            ];

            map.setOptions({ styles: styles });
            initWidget(map);
        }
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            SetDate();
            LoadMap();
        });
        function SetDate() {
        //    $("#Start").datepicker({ dateFormat: 'yy-mm-dd' });
            var myDate = new Date();
            var date = myDate.getFullYear() + '-' + ('0' + myDate.getMonth() + 1).slice(-2) + '-' + ('0' + myDate.getDate()).slice(-2);
            $("#Start").val(date);
        };
        //      $("#maps").toggle();
        function HideToggle() {
            $("#Showmaps").toggle();

        }
        //    $('#form').submit(function (eventObj) {
        //      $(this).append('<input type="hidden" name="Zakres" value="23">');
        //      return true;
        //  });
    </script>





























    @*<script src="http://maps.google.com/maps/api/js?sensor=true" type="text/javascript"></script>

        @Scripts.Render("~/bundles/jqueryval")
        <section class="scripts">

            <script type="text/javascript">


        $(document).ready(function () {
            Initialize();
        });

        // Where all the fun happens
        function Initialize() {

            // Google has tweaked their interface somewhat - this tells the api to use that new UI
            google.maps.visualRefresh = true;
            var Tunisie = new google.maps.LatLng(36.81881, 10.16596);

            // These are options that set initial zoom level, where the map is centered globally to start, and the type of map to show
            var mapOptions = {
                zoom: 8,
                center: Tunisie,
                mapTypeId: google.maps.MapTypeId.G_NORMAL_MAP
            };

            // This makes the div with id "map_canvas" a google map
            var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

            // a sample list of JSON encoded data of places to visit in Tunisia
            // you can either make up a JSON list server side, or call it from a controller using JSONResult
            var data = [
                      { "Id": 1, "PlaceName": "Zaghouan", "GeoLong": "36.401081", "GeoLat": "10.16596" },
                      { "Id": 2, "PlaceName": "Hammamet ", "GeoLong": "36.4", "GeoLat": "10.616667" },
                      { "Id": 3, "PlaceName": "Sousse", "GeoLong": "35.8329809", "GeoLat": "10.63875" },
                      { "Id": 4, "PlaceName": "Sfax", "GeoLong": "34.745159", "GeoLat": "10.7613" }
                   ];

            // Using the JQuery "each" selector to iterate through the JSON list and drop marker pins
            $.each(data, function (i, item) {
                var marker = new google.maps.Marker({
                    'position': new google.maps.LatLng(item.GeoLong, item.GeoLat),
                    'map': map,
                    'title': item.PlaceName
                });

                // Make the marker-pin blue!
                marker.setIcon('http://maps.google.com/mapfiles/ms/icons/blue-dot.png')

                // put in some information about each json object - in this case, the opening hours.
                var infowindow = new google.maps.InfoWindow({
                    content: "<div class='infoDiv'><h2>" + item.PlaceName + "</div></div>"
                });

                // finally hook up an "OnClick" listener to the map so it pops up out info-window when the marker-pin is clicked!
                google.maps.event.addListener(marker, 'click', function () {
                    infowindow.open(map, marker);
                });

            })
        }


            </script>
        </section>*@
}

