﻿@using TwitterStatist.Models
@model TwitterStatist.Models.SearcherViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Searcher </h2>

<div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Właściwośści</a></li>
        <li role="presentation"><a href="#statistic" aria-controls="settings" role="tab" data-toggle="tab">Statystyka</a></li>
        <!-- 
       
        <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>  -->
     
           @*<li role="presentation"><a href="#tweetList" aria-controls="settings" role="tab" data-toggle="tab">Tweety </a></li>*@
      
     
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
            <div>
                <h4>Searcher </h4>
                <dl class="dl-horizontal">

                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.WorkMode)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.WorkMode)


                        @switch (Model.WorkMode)
                        {
                            case SearchWorkMode.New:
                                {
                                    <span class="glyphicon glyphicon-certificate text-warning"></span>
                                    <p>Nowy searcher został utworzony i jest gotowy do pracy</p>
                                    break;
                                }
                            case SearchWorkMode.Search:
                                {
                                    <span class="glyphicon glyphicon-certificate text-primary"></span>
                                    <p>Searcher jest w trybie pracy ciągłej. Aktualizuje baze szukanych tweetów</p>

                                    break;
                                }
                            case SearchWorkMode.Follow:
                                {
                                    <span class="glyphicon glyphicon-certificate text-success"></span>
                                    <p>Searcher jest w trybie pracy cyklicznej. Aktualizacja szykanych tweetów odbywa się w pewnych odstępach czasu</p>

                                    break;
                                }
                            case SearchWorkMode.Stop:
                                {
                                    <span class="glyphicon glyphicon-certificate text-danger"></span>
                                    <p>Wstrzymano pracę searcher'a</p>
                                    break;
                                }

                        }

                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Query)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Query)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Start)
                    </dt>

                    <dd>

                        @Html.DisplayFor(model => model.Start)
                    </dd>

                </dl>
            </div>


            @if (ViewBag.IsAuthor)
            {
            <p>
         
                @switch (Model.WorkMode)
                {
                    case SearchWorkMode.New:
                    case SearchWorkMode.Stop:

                        {
                            <input type="button" class="btn-success" value="Start" onclick="@("location.href='" + Url.Action("StartSearcher", new { searcherId = Model.Id }) + "'")" />
                            break;

                        }
                    case SearchWorkMode.Follow:
                    case SearchWorkMode.Search:

                        {
                            <input type="button" class="btn-danger" value="Stop" onclick="@("location.href='" + Url.Action("StopSearcher", new { searcherId = Model.Id }) + "'")" />
                            break;
                        }
                }
                

            </p>
            }



        </div>
        <div role="tabpanel" class="tab-pane" id="statistic">
              @Html.ActionLink("Zobacz tweety >>", "TweetList", null, new { id = Model.Id }, new { @class = "btn btn-primary navbar-right" }) 
              <div id="container" style="min-width: 810px; height: 400px; margin: 30px auto"></div>
            
        </div>

        <div role="tabpanel" class="tab-pane" id="messages"></div>
        <div role="tabpanel" class="tab-pane" id="settings"></div>
        @*<div role="tabpanel" class="tab-pane" id="tweetList">
        @Html.Partial("_TweetListPartial")
          </div>*@
    </div>

</div>

<hr />

@*@if (ViewBag.IsAuthor)
{
        @Html.ActionLink("Edytuj", "Edit", new { id = Model.Id }) <b>|</b>
   }
@Html.ActionLink("Powrót do listy", "RandomSearchers")*@

<script type="text/javascript">
    $(function () {
        $.getJSON('../GetStatistic/',{ searcherId:@(Model.Id)}, function (JsonData) {

            Highcharts.chart('container', {
                chart: {
                    zoomType: 'x'
                },
                title: {
                    text: 'Ilość wystąpień frazy w funkcji czasu'
                },
                subtitle: {
                    text: document.ontouchstart === undefined ?
                            'Kliknij reset aby wrócić ' : 'Klicknij i zaznacz aby powiększyć'
                },
                xAxis: {
                    //   labels: {
                    //formatter: function () {
                    //    return Date.parse( this.value);
                    //}
                    //   },
                    type: 'datetime'

                },
                yAxis: {
                    title: {
                        text: 'Counter tweet'
                    }
                },
                legend: {
                    enabled: false
                },
                plotOptions: {
                    area: {
                        fillColor: {
                            linearGradient: {
                                x1: 0,
                                y1: 0,
                                x2: 0,
                                y2: 1
                            },
                            stops: [
                                [0, Highcharts.getOptions().colors[0]],
                                [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                            ]
                        },
                        marker: {
                            radius: 2
                        },
                        lineWidth: 1,
                        states: {
                            hover: {
                                lineWidth: 1
                            }
                        },
                        threshold: null
                    }
                },

                series: [{
                    type: 'area',
                    name: 'T',
                    data: ParseJson(JsonData)
                     }]
            });
        });
    });

    ParseJson=function(data)
    {
        arr=[];
        data.forEach(function(stat) {
            arr.push(new Array(stat.Date,stat.Value))
        });
        return arr;
    }
</script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<script>
    $('#myTabs a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    })

    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        var target = $(e.target).attr("href") // activated tab



        if (target == '#settings') {
            $.ajax({
                url: "/Statistics/GetById?id=" + '@Model.Id',
                
                type: "get", //send it through get method

                success: function (response) {
                    $('#settings').text(response.value);


                },
                error: function (xhr) {
                    //Do Something to handle error
                }
            });
        }
        if (target == '#tweetList') {
            $.ajax({
                url: "../TweetList?searcherId=" + '@Model.Id',
                type: "get", //send it through get method

                success: function (response) {
                    $('#tweetList').text(response.value);


                },
                error: function (xhr) {
                    //Do Something to handle error
                }
            });
        }
    });



</script>
