﻿@using TwitterStatist.Models
@model IEnumerable<TwitterStatist.Models.SearcherViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Twoje wyszukiwania</h2>

    @if (Request.IsAuthenticated)
    {
<p>
    <a href="/Searcher/Create"><span class="glyphicon glyphicon-plus">Dodaj</span></a>
</p>
    }

<p>
    @ViewBag.Description

</p>


<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Name) @*//[Display]*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkMode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Query)
        </th>
  
        <th>
            @Html.DisplayNameFor(model => model.Start)
        </th>

        <th>
            
        </th>

        <th>
            Szczegóły
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @switch (item.WorkMode)
                {
                    case SearchWorkMode.New:
                        {
                            <span class="glyphicon glyphicon-certificate text-warning"></span>
                            break;
                        }
                    case SearchWorkMode.Search:
                        {
                            <span class="glyphicon glyphicon-certificate text-primary"></span>
                            break;
                        }
                    case SearchWorkMode.Follow:
                        {
                            <span class="glyphicon glyphicon-certificate text-success"></span>
                            break;
                        }
                    case SearchWorkMode.Stop:
                        {
                            <span class="glyphicon glyphicon-certificate text-danger"></span>
                            break;
                        }

                }

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Query)
            </td>
    
            <td>
                @Html.DisplayFor(modelItem => item.Start)
            </td>

            <td>
                @Html.ActionLink("Zobacz tweety >>", "TweetList", null, new { id = item.Id }, new { @class = "btn btn-primary" })
            </td>

            <td>
                
                
                <a href="/Searcher/Details/@item.Id"><span title="Właściwości" class="glyphicon glyphicon-list-alt"> </span></a>
@*@if (Request.IsAuthenticated)
{
                <a href="/Searcher/Edit/@item.Id"><span title="Edytuj" class="glyphicon glyphicon-pencil"> </span></a>

         if (User.IsInRole("Admin"))
            {
                            <a href="/Searcher/Delete/@item.Id"><span title="Usuń" class="glyphicon glyphicon-remove-sign"> </span></a>
            }
}*@
            </td>
        </tr>
    }

</table>
