﻿
@{
    ViewBag.Title = "Wykres";
}

<h2>Wykres</h2>

   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Wykres przykład</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <style type="text/css">
        #container {
            height: 400px;
            min-width: 310px;
            /*max-width: 800px;*/
            margin: 0 auto;
        }
    </style>
    <script type="text/javascript">
$(function () {
    $('#container').highcharts({
        chart: {
            type: 'column',
            options3d: {
                enabled: true,
                alpha: 10,
                beta: 25,
                depth: 70
            }
        },
        title: {
            text: 'Wykres 3D'
        },
        subtitle: {
            text: 'Pomiar czasowych wystąpień danych próbkowych'
        },
        plotOptions: {
            column: {
                depth: 25
            }
        },
        xAxis: {
            categories: Highcharts.getOptions().lang.shortMonths
        },
        yAxis: {
            title: {
                text: null
            }
        },
        series: [{
            name: '#Temat',
            data: [2, 3, null, 4, 0, 5, 1, 4, 6, 3]
        }]
    });
});
    </script>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-3d.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <div id="container" style="height: 400px"></div>

