﻿@model TwitterStatist.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Rejestracja";
}
<h2>@ViewBag.Title.</h2>
<h3>Dokończ procedurę rejestracji</h3>

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <p class="text-info">
        Udało Ci się zalogować na portal  <strong>TwitterStatist</strong>.
        Ponieważ nie mamy dostępu do twoich poufnych danych, prosimy się abyś podał swój adres email.
        Posłuży on do kumunikacji z Tobą.
        Kliknij <b>Zakończ</b> aby ukończyć process logowania.
    </p>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Zakończ" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
