﻿@using TwitterStatist.Models
@model LoginViewModel
@{
    ViewBag.Title = "Logowanie";
}

<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-8">
        <p>
            Aby w pełni korzystać z usług tego serwisu musisz być zalogowany. <br />
            Nie musisz jednak zakładać tutaj konta!.<br />
            Wystarczy ze zalogujesz się za pomocą Twojego konta na Twitterze. <br />
            Jednocześnie informujemy że, Twoje konto posłuży do importowania danych które zostaną wykorzystane w procesie opracowania, przetwarzania i budowania statystyk.


        </p>
        <section id="loginForm">
            @using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl })) {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                 
                        <button type="submit" class="btn btn-default" id="Twitter" name="provider" value="Twitter" title="Log in using your Twitter account">LogIn</button>
                </p>
            </div>
            }
        </section>
    </div>
 
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}