﻿@{
    ViewBag.Title = "Dokumentacja ";
}
<h2>Opis możliwości systemu</h2>
<h3>Logowanie</h3>
<p>Aby korzystać z aplikacji musisz się zalogować</p>
<p>Na szzczęście nie musisz rejestrować konta, wystarczy że posiadasz takie na portalu <b>Twitter.com</b></p>
<p>Kliknij przycisk <b>Login</b> by dostać się do strony logowania portalu</p>
<img src="~/Image/logowanie.png" width="500" height="300" alt="searcher">

<h3>Searcher</h3>
<p>Podstawowym elementem systemu jest searcher. Służy on do zdefiniowania szukanej frazy oraz wszystkich szczegółów dotyczących wyszukiwanych tweetów.  </p>
<p>Przejdż do <b>Searchers</b> a następnie kliknij <b>Dodaj</b></p>
<img src="~/Image/Nowy_searcher.png" width="700" height="600" alt="searcher">

<p>Po utworzeniu searchera zostaniesz przekierowany do listy, która zawiera informacje na temat wszystkich searcherów przez Ciebie założonych. </p>
<p>Przejdż do <b>Searchers</b></p>
<img src="~/Image/SearcherList.png" width="600" height="300" alt="searcher">
<p>Z poziomu listy użytkownik może przejść do okna obejmującego szczegółowe informacje dotyczące wybranego searchera. Możliwe jest również zarządzanie nim. </p>
<img src="~/Image/Searcher_2.png" width="600" height="400" alt="searcher">
<p>Możliwe jest również przeglądanie wyników pracy w formie przejrzystego wykresu. </p>
<p>Przejdz do zakładki <b>Statystyka</b></p>
<img src="~/Image/Statystyki.png" width="600" height="400" alt="searcher">