﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Twitter Statist</h1>
    <hr />

    <p>Dzięki tej stronie możesz w łatwy sposób sledzić i montoeować frazę która Cię interesuje.</p>
    <p> Portal znajdzie wszystkie tweety które zostały opublikowane w istatnim czasie. Wynik swojej pracy przedstawi w postaci wygodnego wykresu.</p>
   
    <p> Zaloguj się aby uzyskać dostęp do pełnej fukcjonalości.<br />
       <b>Nie musisz się rejestrować !!</b>
    Wystarczy że posiadasz konto na portalu <a href="twitter.com">Twitter.com </a>.
    </p>
    <p>Przejdź do dokumentacji aby zapoznać się z możliwościami serwisu!!</p>

    <p><a href="/Home/About" class="btn btn-primary btn-lg">Dokumentacja  &raquo;</a></p>
</div>

<div class="row">
    @*<div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
</div>